.teampicwrapper {
    img {
        width: 100%;
    }
}

.authorcontainer {
    max-width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.authorinformation {
    padding-top: 25px;
}

.authorinformation__left {
    width: 100%;
    max-width: 434px;
    flex: 0 0 434px;

    .circleswrapper {
        position: relative;
        margin-top: -165px;
    }

    .authorbigcircle {
        width: 434px;
        height: 434px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba(15, 15, 16, 1);
        overflow: hidden;
        text-align: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .yearscircle {
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba(15, 15, 16, 1);
        overflow: hidden;
        text-align: center;
        position: absolute;
        right: 174px;
        bottom: -50px;
        width: 160px;
        height: 160px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat';
        padding: 0 15px;
        transform: rotate(-10deg);

        p {
            color: #fff;
            font-size: 14px;
            margin: 0;
        }

        .title {
            color: #C9FA3D;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 24px;
        }
    }

    .projcircle {
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba(15, 15, 16, 1);
        overflow: hidden;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: -40px;
        width: 207px;
        height: 207px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat';
        transform: rotate(-15deg);
        padding: 0 25px;

        p {
            color: #fff;
            font-size: 18px;
            margin: 0;
            line-height: 140%;
        }

        .title {
            color: #C9FA3D;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
        }
    }














}

.authorinformation__right {
    width: 100%;
    max-width: calc(100% - 434px);
    flex: 0 0 calc(100% - 434px);
    padding-left: 48px;

    h1 {
        color: #0F0F10;
        font-size: 52px;
        font-weight: 700;
        line-height: 110%;
        font-family: 'Montserrat';
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 4px;
    }

    .authsocbox {
        display: inline-block;
        vertical-align: middle;

        ul {
            list-style-type: none;
            margin: 0 0 0 24px;

            li {
                vertical-align: middle;
                margin-right: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                border-radius: 50%;

                a {
                    text-decoration: none;
                    width: 44px;
                    height: 44px;
                    background: #fff;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    img {
                        width: 20px;
                    }
                }
            }
        }
    }

    .position {
        font-family: 'Montserrat';
        color: #000;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    .descr {
        margin-bottom: 32px;
        font-family: 'Montserrat';
        color: #000;
        font-size: 16px;
        line-height: 150%;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .subtitle {
        font-family: 'Montserrat';
        color: #000;
        font-weight: 700;
        line-height: 130%;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .explist {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-family: 'Montserrat';
            vertical-align: middle;
            margin-right: 24px;
            color: #0F0F10;
            font-size: 14px;
            font-weight: 500;
            line-height: 285%;
            display: inline-block;
            opacity: 0.6;

            &:last-child {
                margin-right: 0;
            }
        }
    }



}

.blog__body.author {
    padding-top: 64px;

    h2 {
        margin-bottom: 32px;
        color: #2F2F2F;
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 700;
        line-height: 120%;
    }

    .blurbbox {
        font-family: 'Montserrat';
    }

    .postbox {
        font-family: 'Montserrat';
    }

    .abswrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-top: 200px;
    }

}


@media(max-width:1650.8px) {

    .blog__body.author {
        .container__small {
            max-width: 1160px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}

@media(max-width:1600.8px) {
    .authorcontainer {
        max-width: 1050px;
    }

    .blog__body.author {
        .container__small {
            max-width: 1050px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .postbox-col {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .authorinformation__right h1 {
        font-size: 42px;
    }

    .authorinformation__right .position {
        font-size: 18px;
    }

    .authorinformation__left {
        max-width: 350px;
        flex: 0 0 350px;
    }

    .authorinformation__right {
        max-width: calc(100% - 350px);
        flex: 0 0 calc(100% - 350px);
        padding-left: 40px;
    }

    .authorinformation__left .authorbigcircle {
        width: 350px;
        height: 350px;
    }

    .authorinformation__left .circleswrapper {
        margin-top: -100px;
    }

    .blog__body.author .rowblock {
        margin-left: -15px;
        margin-right: -15px;
    }


}

@media(max-width:1470.8px) {
    .blog__body.author {
        .articlestickybox {
            padding-left: 20px;
            width: 180px;
        }
    }

}

@media(max-width:1400.8px) {

    .blog__body.author .container__small {
        max-width: 900px;
    }

}

@media(max-width:1300.8px) {

    .blog__body.author .container__small {
        max-width: 840px;
    }

}

@media(max-width:1199.8px) {
    .abswrapper {
        display: none;
    }

    .blog__body.author .container__small,
    .authorcontainer {
        max-width: calc(100% - 120px);
    }

    .authorinformation__right {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
        }

        h1 {
            display: block;
            order: 1;
        }

        .authsocbox {
            order: 3;
        }

        .position {
            order: 2;
        }

        .descr {
            order: 4;
        }

        .subtitle {
            order: 5;
        }

        .explist {
            order: 6;
        }

    }

    .authorinformation__right .authsocbox ul {
        margin-left: 0;
        margin-bottom: 15px;
    }



}

@media(max-width:991.8px) {

    .authorinformation__left,
    .authorinformation__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .authorinformation__left .circleswrapper {
        max-width: 350px;
        margin: -50px auto 0;
    }

    .authorinformation__right {
        padding-top: 100px;
        padding-left: 0;
    }

}

@media(max-width:575.8px) {

    .authorcontainer,
    .blog__body.author .container__small {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .teampicwrapper {
        height: 168px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .authorinformation__left .authorbigcircle {
        width: 234px;
        height: 234px;
    }

    .authorinformation__left .circleswrapper {
        max-width: 234px;
    }

    .authorinformation__left .yearscircle {
        width: 87px;
        height: 87px;
    }

    .authorinformation__left .projcircle {
        width: 112px;
        height: 112px;
    }

    .authorinformation__left .yearscircle .title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .authorinformation__left .yearscircle p {
        font-size: 8px;
    }

    .authorinformation__left .yearscircle {
        padding-left: 10px;
        padding-right: 10px;
    }

    .authorinformation__left .projcircle p {
        font-size: 10px;
    }

    .authorinformation__left .projcircle .title {
        font-size: 24px;
        margin-bottom: 4px;
    }

    .authorinformation__left .yearscircle {
        right: 90px;
        bottom: -30px;
    }

    .authorinformation__left .projcircle {
        bottom: -20px;
    }

    .authorinformation__right {
        padding-top: 60px;
    }

    .authorinformation__right h1 {
        line-height: 130%;
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    .authorinformation__right .position {
        margin-bottom: 16px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    .authorinformation__right .authsocbox {
        text-align: center;
    }

    .authorinformation__right .authsocbox ul {
        margin-bottom: 24px;
    }

    .authorinformation__right .descr {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .blog__body.author {
        padding-top: 24px;
    }

    .blog__body.author h2 {
        text-align: center;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 16px;
    }







}



// font-family: 'Montserrat';