.casemainscreen.demo {
    // padding: 124px 0 64px;
    padding: 0;
    font-family: Montserrat;
    overflow: hidden;

    .casemainscreen__left {
        padding: 140px 0 64px;
    }

    .casemainscreen__right {
        padding: 124px 0 64px;
        position: relative;
    }

    .casemainscreen__left {
        width: 100%;
        max-width: 48%;
        flex: 0 0 48%;
    }

    .casemainscreen__right {
        width: 100%;
        max-width: 52%;
        flex: 0 0 52%;

        .imgwrap img {
            width: 1063px;
        }
    }

    .casemainscreen__left {
        padding-right: 8px;
        // padding-top: 16px;

        h1 {
            color: #fff;
            font-size: 72px;
            font-weight: 700;
            line-height: 130%;
            margin-bottom: 48px;

            span {
                background: linear-gradient(149deg, #82F84A 0%, #10E095 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .descr {
            max-width: 738px;
            margin-bottom: 48px;

            p {
                font-size: 22px;
                color: #fff;
                font-weight: 500;
                line-height: 200%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .requestlink {
            width: 290px;
            height: 68px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #C9FA3D;
            color: #0F0F10;
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.8px;
            transition: 0.3s;

            svg {
                margin-left: 6px;
            }

            &:hover {
                box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
            }
        }

        .requesttext {
            margin-top: 16px;
            font-size: 18px;
            font-weight: 500;
            line-height: 200%;
            background: var(--gradient-lime, linear-gradient(142deg, #CDFF7C 0%, #8CFFAC 46.09%, #93FFEB 99.48%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .casemainscreen__right {
        padding-left: 8px;
    }

}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.launchsect {
    padding: 100px 0 64px;
    font-family: Montserrat;

    .flexwrap {
        align-items: center;
    }

    h2,
    h3 {
        color: #fff;
        font-size: 56px;
        font-weight: 700;
        line-height: 135%;
        text-align: center;
        margin-bottom: 64px;
    }

    .section-subtitle {
        text-align: center;
    }

    .launchsect__left {
        width: 100%;
        max-width: 60%;
        flex: 0 0 60%;

        .imgwrap {
            text-align: center;
            padding-right: 10px;
        }

        img {
            max-width: 100%;
            display: inline-block;
        }
    }

    .launchsect__right {
        width: 100%;
        max-width: 40%;
        flex: 0 0 40%;
    }

    .launchsect__contactus {
        border-radius: 24px;
        border: 1px solid rgba(238, 2, 115, 0.20);
        background: rgba(15, 15, 16, 0.90);
        box-shadow: 2px 4px 16px 0px rgba(143, 0, 179, 0.15);
        padding: 47px;
        text-align: center;
        position: relative;

        .title {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            line-height: 140%;
            margin-bottom: 40px;
        }

        .descr {
            font-size: 22px;
            font-weight: 500;
            line-height: 200%;
            color: #fff;
            margin-bottom: 40px;
        }

        .launchsect__contactuslink {
            max-width: 300px;
            width: 100%;
            height: 67px;
            background: #C9FA3D;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #0F0F10;
            font-size: 18px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0.36px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
            }
        }

        .circlelink {
            width: 420px;
            height: 197px;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            z-index: 2;
            right: -85px;
            bottom: -120px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: url('../images/demo/circlinlbg.png') no-repeat center / 100% 100%;
            transform: rotate(-7.5deg);

            p {
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 135%;
                margin-bottom: 32px;
            }

            .tg {
                font-weight: 700;
                line-height: 135%;
                font-size: 24px;
                background: var(--gradient-lime, linear-gradient(142deg, #CDFF7C 0%, #8CFFAC 46.09%, #93FFEB 99.48%));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0;

                img {
                    width: 30px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }
        }
    }
}

.ouruniswap {
    padding: 100px 0 44px;
    font-family: Montserrat;

    .section-subtitle {
        text-align: center;
        margin-bottom: 48px;
    }
}

.ouruniswap__box {
    max-width: 187px;
    width: 100%;
    height: 180px;
    border: 1px solid rgba(201, 250, 61, 0.20);
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 10px 10px 10px;
    text-align: center;
    margin: 0 auto;

    img {
        margin-bottom: 24px;
        height: 88px;
        max-width: 100%;
        display: inline-block;
    }

    p {
        margin: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 135%;
    }
}

.ourpackage {
    padding: 100px 0 0 0;
    font-family: Montserrat;

    .flexwrap {
        justify-content: space-between;
    }

    .section-subtitle {
        text-align: center;
        margin-bottom: 0;
    }

    .ourpackage_box {
        width: 100%;
        // max-width: 29%;
        // flex: 0 0 29%;
        border-radius: 24px;
        border: 1px solid rgba(238, 2, 115, 0.20);
        background: rgba(15, 15, 16, 0.90);
        box-shadow: 2px 4px 40px 0px rgba(143, 0, 179, 0.1);
        text-align: center;
        padding: 80px 64px;
        display: block;
        transition: 0.3s;

        .imgwrap {
            height: 220px;
            margin-bottom: 80px;

            img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
            }
        }

        .descrwrap {
            .title {
                margin-bottom: 16px;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 135%;
            }

            .descr {
                color: #9D9D9E;
                font-size: 16px;
                font-weight: 500;
                line-height: 180%;
                margin-bottom: 16px;
            }

            a,
            span {
                color: #C9FA3D;
                font-size: 18px;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 0.36px;
                position: relative;
                display: inline-block;

                svg {
                    vertical-align: middle;
                    margin-top: -3px;
                    transition: 0.3s;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: #C9FA3D;
                    transition: 0.3s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 2px 4px 40px 0px rgba(173, 26, 210, 0.40);

            .descrwrap span svg {
                animation: move-arr 1s ease-in-out infinite;
            }

        }
    }

    .ourpackage_slider .slick-list {
        padding-bottom: 160px;
        padding-top: 48px;
    }

}

@keyframes move-arr {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.ourpackage_slider {
    .slick-slide {
        padding: 0 50px;
    }
}

.ourpackage .ourpackage_box .descrwrap .descr {
    min-height: 58px;
}

.casemainscreen.demo .casemainscreen__right .imgwrap {
    z-index: 2;
    position: relative;
}

.casemainscreen.demo .casemainscreen__right .imgwrap {
    height: 675px;
}

.animationsect {
    position: relative;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 15%;
    width: calc(100% + 200px);
    height: 80%;
}

.animitam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation:
        move-x 12s linear infinite,
        move-y 12s linear infinite;

}

@keyframes move-x {
    0% {
        left: 100%;
        animation-timing-function: ease-in;
        z-index: 1;
        transform: translate(-50%, -50%) scale(0.5);
    }

    25% {
        left: 50%;
        animation-timing-function: ease-out;
        z-index: 1;
    }

    30% {
        z-index: 2;
    }

    50% {
        left: 0%;
        animation-timing-function: ease-in;
        z-index: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    55% {
        z-index: 2;
    }

    75% {
        left: 50%;
        animation-timing-function: ease-out;
        z-index: 2;
        transform: translate(-50%, -50%) scale(0.7);
    }

    100% {
        left: 100%;
        animation-timing-function: ease-in;
        z-index: 2;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes move-y {
    0% {
        top: 50%;
        animation-timing-function: ease-out;
    }

    25% {
        top: 0;
        animation-timing-function: ease-in;
    }

    50% {
        top: 50%;
        animation-timing-function: ease-out;
    }

    75% {
        top: 100%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        animation-timing-function: ease-out;
    }
}


@media(max-width:1600.8px) {
    .casemainscreen.demo .casemainscreen__right .imgwrap {
        height: 500px;
    }
}

@media(max-width:1199.8px) {
    .casemainscreen.demo .casemainscreen__right .imgwrap {
        height: 400px;
    }
}

@media(max-width:991.8px) {

    .animationsect {
        width: calc(100% + 100px);
    }

    @keyframes move-x {
        0% {
            left: 100%;
            animation-timing-function: ease-in;
            z-index: 1;
            transform: translate(-50%, -50%) scale(0.5);
        }

        25% {
            left: 50%;
            animation-timing-function: ease-out;
            z-index: 2;
        }

        30% {
            z-index: 2;
        }

        50% {
            left: 0%;
            animation-timing-function: ease-in;
            z-index: 2;
            transform: translate(-50%, -50%) scale(1);
        }

        55% {
            z-index: 2;
        }

        75% {
            left: 50%;
            animation-timing-function: ease-out;
            z-index: 2;
            transform: translate(-50%, -50%) scale(0.7);
        }

        100% {
            left: 100%;
            animation-timing-function: ease-in;
            z-index: 2;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}


@media(max-width:575.8px) {
    .casemainscreen.demo .casemainscreen__right .imgwrap {
        height: auto;
    }

    .animitam {
        transform: translate(-50%, -50%) scale(0.5) !important;
    }

    .animationsect {
        width: 100%;
    }

    .casemainscreen.demo .casemainscreen__right {
        padding: 80px 0 40px;
    }

    .animationsect {
        top: 5px;
    }
}







@media(max-width:1600.8px) {
    .casemainscreen.demo .casemainscreen__left h1 {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .casemainscreen.demo .casemainscreen__left .descr {
        margin-bottom: 30px;

        p {
            font-size: 18px;
        }
    }

    .casemainscreen.demo .casemainscreen__left .requestlink {
        height: 60px;
    }

    // .casemainscreen.demo {
    //     padding: 90px 0 50px;
    // }

    .casemainscreen.demo .casemainscreen__right {
        img {
            max-width: calc(100% + 150px);
        }
    }

    .casemainscreen.demo .casemainscreen__right .imgwrap img {
        width: auto;
        max-width: calc(100% + 150px);
    }

    .launchsect h2,
    .launchsect h3 {
        font-size: 46px;
        margin-bottom: 40px;
    }

    .launchsect .launchsect__contactus .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .launchsect .launchsect__contactus .descr {
        line-height: 160%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .launchsect .launchsect__contactus .launchsect__contactuslink {
        height: 60px;
    }

    .launchsect .launchsect__contactus .circlelink p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .launchsect .launchsect__contactus .circlelink .tg {
        font-size: 18px;
    }

    .launchsect .launchsect__contactus .circlelink {
        width: 340px;
        height: 160px;
        right: -60px;
        bottom: -100px;
    }

    .ourpackage .ourpackage_box {
        padding: 50px 44px;
    }

    .ourpackage .ourpackage_box .imgwrap {
        height: 200px;
        margin-bottom: 50px;
    }

    .ourpackage .ourpackage_box .descrwrap .title {
        font-size: 21px;
    }

    .ourpackage {
        padding: 100px 0 0 0;
    }

    .ourpackage_slider .slick-slide {
        padding: 0 25px;
    }

    .ourpackage .ourpackage_box {
        padding: 50px 40px;
        min-height: 525px;
    }

}

@media(max-width:1300.8px) {

    .casemainscreen__right img {
        max-height: 400px;
    }

    .casemainscreen__left h1 {
        font-size: 46px;
    }

    .casemainscreen.demo .casemainscreen__left h1 {
        font-size: 40px;
    }

    .launchsect h2,
    .launchsect h3 {
        font-size: 36px;
    }

    .launchsect .launchsect__contactus .title {
        font-size: 21px;
        line-height: 160%;
    }

    .launchsect .launchsect__contactus .descr br {
        display: none;
    }

    .ourpackage .ourpackage_box {
        padding: 40px 20px;
    }





}

@media(max-width:1199.8px) {

    .casemainscreen__left .visitsite:after {
        top: -4px;
    }

    .casemainscreen__left .visitsite img {
        width: 30px;
        margin-right: 5px;
    }

    .casemainscreen__left .visitsite {
        font-size: 21px;
    }

    .casemainscreen__left h1 {
        font-size: 36px;
    }

    .casemainscreen.demo .casemainscreen__left .descr p {
        font-size: 16px;
    }

    .ourpackage .ourpackage_box .imgwrap {
        height: 200px;
    }



}

@media(max-width:991.8px) {

    .casemainscreen__left,
    .casemainscreen__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .casemainscreen__left {
        text-align: center;
        padding: 0;
        margin-bottom: 50px;

        h1 {

            margin-bottom: 50px;
        }
    }

    .casemainscreen.demo .casemainscreen__left,
    .casemainscreen.demo .casemainscreen__right,
    .launchsect .launchsect__left,
    .launchsect .launchsect__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .casemainscreen.demo .casemainscreen__right .imgwrap img {
        max-width: 100%;
        width: 100%;
        max-height: inherit;
    }

    .casemainscreen.demo .casemainscreen__right {
        padding-left: 0;
    }

    .ourpackage .ourpackage_box {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ourpackage_slider .slick-slide {
        padding: 0 10px;
    }

    .ourpackage .ourpackage_box .imgwrap {
        height: 160px;
    }

}

@media(max-width:767.8px) {
    .ourpackage .ourpackage_slider .slick-list {
        box-sizing: content-box;
        padding-bottom: 100px;
    }

    .ourpackage .ourpackage_box {
        box-shadow: none;
    }
}

@media(max-width:575.8px) {

    .casemainscreen.demo .casemainscreen__left h1 {
        font-size: 30px;
        line-height: 140%;
        margin-bottom: 32px;
    }

    .casemainscreen__left .visitsite {
        font-size: 16px;

        &::after {
            top: -8px;
        }
    }

    .casemainscreen.demo .casemainscreen__left .descr p {
        font-weight: 400;
        line-height: 130%;
    }

    .casemainscreen.demo .casemainscreen__left {
        padding: 0;
    }

    // .casemainscreen.demo {
    //     padding: 64px 0 0 0;
    // }

    .casemainscreen.demo .casemainscreen__left .requestlink {
        max-width: 274px;
    }

    .casemainscreen.demo .casemainscreen__left .requesttext {
        margin-top: 8px;
        font-size: 16px;
    }

    .launchsect {
        padding: 80px 0 150px 0;
    }

    .launchsect .section-subtitle {
        text-align: left;
        font-weight: 500;
    }

    .launchsect h2,
    .launchsect h3 {
        text-align: left;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 24px;
    }

    .launchsect .launchsect__left .imgwrap {
        margin-bottom: 48px;
    }

    .launchsect .launchsect__contactus {
        padding: 24px;
    }

    .launchsect .launchsect__contactus .title {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .launchsect .launchsect__contactus .descr {
        margin-bottom: 48px;
    }

    .launchsect .launchsect__contactus .circlelink {
        width: 300px;
        height: 140px;
        right: 0;
        bottom: -130px;
    }

    .launchsect .launchsect__contactus .circlelink p {
        font-size: 16px;
    }

    .ouruniswap .section-subtitle {
        text-align: left;
        margin-bottom: 36px;
        font-weight: 500;
    }

    .ouruniswap__box {
        max-width: 127px;
        height: 132px;
        padding: 18px 10px 10px 10px;

        img {
            height: 48px;
        }
    }

    .ouruniswap {
        padding-bottom: 0;
    }

    .ourpackage {
        padding: 80px 0 0 0;
    }

    .ourpackage .section-subtitle {
        font-weight: 500;
        text-align: left;
        margin-bottom: 0;
    }

    .ourpackage .ourpackage_slider .slick-list {
        padding-top: 36px;
        padding-bottom: 80px;
    }

    .ourpackage {
        .service-container {
            padding-right: 0;
        }
    }

    .ourpackage .ourpackage_box {
        padding: 24px 16px;
    }

    .ourpackage .ourpackage_box .imgwrap {
        height: 140px;
    }

    .ourpackage_slider .slick-slide {
        padding: 0 6px;
    }

    .ourpackage .ourpackage_box .imgwrap {
        margin-bottom: 40px;
    }

    .ourpackage .ourpackage_box .descrwrap .title {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .ourpackage .ourpackage_box .descrwrap .descr {
        line-height: 130%;
        margin-bottom: 17px;
    }

    .ourpackage .ourpackage_box .descrwrap a {
        font-size: 16px;
    }

    .ourpackage .ourpackage_box {
        min-height: 370px;
    }

    .launchsect {
        padding-top: 40px;
    }

    .casemainscreen.demo .casemainscreen__left {
        padding-top: 64px;
    }
}

@media(max-width:360.8px) {
    .ourpackage .service-container {
        padding-right: 15px;
    }
}


// new sections

.dlslidersection {
    padding: 140px 0 60px 0;

    h2 {
        color: #fff;
        font-size: 56px;
        font-weight: 700;
        line-height: 135%;
        text-align: center;
        margin-bottom: 64px;
    }
}

.dlslider {
    font-family: Montserrat;

    .slidewrapper {
        display: flex;
        flex-wrap: wrap;

        .slideimgwrap {
            width: 100%;
            max-width: 62%;
            flex: 0 0 62%;
            overflow: hidden;
            border-radius: 21px 0 0 21px;

            img {
                width: 100%;
            }
        }

        .slidedesrwrap {
            background: #0F0F10;
            width: 100%;
            max-width: 38%;
            flex: 0 0 38%;
            padding: 64px 32px;
            text-align: center;

            .title {
                color: #fff;
                font-size: 56px;
                font-weight: 700;
                line-height: 135%;
                margin-bottom: 8px;
            }

            .subtitle {
                font-size: 18px;
                font-weight: 500;
                line-height: 200%;
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 48px;
            }

            .descr {
                font-size: 18px;
                font-weight: 500;
                line-height: 200%;
                color: #9D9D9E;
                display: -webkit-box;
                -webkit-line-clamp: 10;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }




        }
    }

}

.dlslidersection__wrapper {
    position: relative;
}

.dlslider__nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;

    .dlslider__nav-r {
        width: 100%;
        max-width: 38%;
        flex: 0 0 38%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
    }

    .pagingInfo {
        font-weight: 500;
        line-height: 200%;
        font-size: 22px;
        font-family: Montserrat;
        color: #fff;
        letter-spacing: 2px;
    }

    .dlslider__nav-arrows {
        width: 176px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.dlslider__nav-prev,
.dlslider__nav-next {
    width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
}

.dlslider__nav-prev {
    background: url('../images/demo/prev.svg') no-repeat center / 48px;
}

.dlslider__nav-next {
    background: url('../images/demo/next.svg') no-repeat center / 48px;
}

.gridinfo {
    padding: 100px 0 64px 0;

    .section-subtitle {
        margin-bottom: 88px;
    }
}

.wrapcontent {
    transition: 0.5s;
    height: 100%;
    transform: translateY(calc(50% - 20px));
}

.benefitbox {
    height: 360px;
    width: 100%;
    max-width: 25%;
    flex: 0 0 25%;
    border-bottom: 1.5px solid rgba(198, 200, 253, 0.5);
    border-right: 1.5px solid rgba(198, 200, 253, 0.5);
    padding: 24px;
    overflow: hidden;
    position: relative;
    font-family: Montserrat;
    z-index: 4;

    &:nth-last-child(-n+4) {
        border-bottom: none;
    }

    &:nth-child(4n) {
        border-right: none;
    }

    .title {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        margin-bottom: 25px;
    }

    .descr {
        color: #9D9D9E;
        font-size: 16px;
        font-weight: 500;
        line-height: 180%;
        text-align: center;
        transition: 0.5s;
        transform: translateY(170px);
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;

        p {
            margin: 0;
        }
    }
}

.benefitbox {
    &:hover {
        .wrapcontent {
            transform: translateY(0);

            .descr {
                transform: translateY(0);
            }
        }
    }
}

.gridinfosect {
    background: url('../images/demo/blurbg.png') no-repeat center / 100% 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('../images/demo/democircbg.png') no-repeat center / 100% 100%;
    }
}

.bnrsect {
    padding: 100px 0;
}

.bnrslidewrap {
    height: 275px;
    border-radius: 21px;
    background: linear-gradient(92deg, #241871 0%, #2E0128 100%);
    padding: 15px 330px 15px 48px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;

    .bnrdescr {
        width: 100%;
        max-width: 390px;
        flex: 0 0 390px;

        .subtitle {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;
            line-height: 135%;
            margin-bottom: 16px;
            background: linear-gradient(180deg, #C6C8FD 0%, #9FE3F8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        img {
            max-width: 100%;
        }
    }

    .bnrsvgtext {
        width: 100%;
        max-width: calc(100% - 390px);
        flex: 0 0 calc(100% - 390px);

        img {
            max-width: 100%;
        }
    }

    .bnrrightpic {
        position: absolute;
        right: -30px;
        bottom: 0;
    }
}

.dlslider .slidewrapper .slidedesrwrap {
    border-radius: 0 21px 21px 0;
}

.bnrslider {

    .slick-dots {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 16px;
        width: 100%;
        text-align: center;
        // left: 0;
        // right: 0;
        // margin: 0 auto;
        // display: block;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;

            button {
                font-size: 0;
                width: 8px;
                height: 8px;
                padding: 0;
                border-radius: 15px;
                background: #9C81C6;
                transition: 0.3s;
                border: none;
            }

            &.slick-active {
                button {
                    width: 36px;
                    background: #fff;
                }
            }
        }
    }


}

@media(max-width:1800.8px) {

    .dlslider .slidewrapper .slidedesrwrap .subtitle {
        margin-bottom: 30px;
    }

    .dlslider .slidewrapper .slidedesrwrap .descr {
        -webkit-line-clamp: 8;
    }

}

@media(max-width:1600.8px) {

    .dlslidersection h2 {
        font-size: 46px;
        margin-bottom: 40px;
    }

    .dlslider__nav-next,
    .dlslider__nav-prev {
        width: 50px;
        height: 50px;
    }

    .dlslider .slidewrapper .slidedesrwrap {
        padding: 30px 20px 70px;
    }

    .dlslider .slidewrapper .slidedesrwrap .title {
        font-size: 38px;
    }

    .dlslider .slidewrapper .slidedesrwrap .subtitle {
        margin-bottom: 20px;
    }

    .dlslider .slidewrapper .slidedesrwrap .descr {
        font-size: 16px;
        line-height: 180%;
    }

    .dlslider__nav .dlslider__nav-r {
        padding: 0 20px;
    }

    .dlslider__nav .pagingInfo {
        font-size: 16px;
    }

    .dlslider__nav .dlslider__nav-arrows {
        width: 120px;
    }

    .dlslider__nav {
        bottom: 20px;
    }

    .benefitbox .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .benefitbox {
        height: 260px;
    }

    .benefitbox .descr {
        font-size: 14px;
        font-weight: 400;
    }

    .bnrslidewrap .bnrdescr {
        padding-right: 20px;
    }

    .bnrslidewrap {
        height: 220px;
    }

    .bnrslidewrap .bnrrightpic {
        max-height: 100%;
    }

    .bnrsect {
        padding: 60px 0;
    }

}

@media(max-width:1440.8px) {
    .bnrslidewrap {
        padding: 15px 200px 15px 30px;
    }

    .bnrslidewrap .bnrdescr {
        max-width: 300px;
        flex: 0 0 300px;
        padding-right: 10px;
    }

    .bnrslidewrap .bnrsvgtext {
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        padding-right: 25px;
        padding-left: 10px;
    }

    .bnrslidewrap .bnrdescr .subtitle {
        font-size: 16px;
    }

}

@media(max-width:1400.8px) {

    .dlslider .slidewrapper .slidedesrwrap .title {
        font-size: 32px;

    }

    .dlslider .slidewrapper .slidedesrwrap .subtitle {
        line-height: normal;
        margin-bottom: 10px;
    }

    .dlslider .slidewrapper .slidedesrwrap .descr {
        font-size: 14px;
    }

    .dlslidersection {
        padding: 100px 0 30px 0;
    }

    .gridinfo {
        padding: 100px 0 30px 0;
    }

    .gridinfo .section-subtitle {
        margin-bottom: 50px;
    }

    .benefitbox {
        height: 220px;
        padding: 15px;

        .title {
            font-size: 18px;
        }

        .descr {
            line-height: 150%;
            font-size: 13px;
        }
    }














}

@media(max-width:1300.8px) {
    .dlslidersection h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }
}

@media(max-width:1199.8px) {
    .bnrslidewrap {
        height: 180px;
    }

    .dlslider .slidewrapper .slidedesrwrap .descr {
        -webkit-line-clamp: 5;
    }

    .bnrslidewrap .bnrrightpic {
        max-width: 150px;
    }

    .bnrslidewrap {
        padding: 15px 140px 15px 20px;
    }

    .bnrslidewrap .bnrdescr {
        max-width: 200px;
        flex: 0 0 200px;
        text-align: right;
    }

    .bnrslidewrap .bnrsvgtext {
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

}

@media(max-width:991.8px) {

    .dlslider .slidewrapper .slideimgwrap,
    .dlslider .slidewrapper .slidedesrwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .dlslider .slidewrapper .slideimgwrap {
        border-radius: 20px 20px 0 0;
    }

    .dlslider .slidewrapper .slidedesrwrap {
        border-radius: 0 0 20px 20px;
    }

    .dlslider .slidewrapper .slidedesrwrap {
        padding-bottom: 90px;
    }

    .benefitbox {
        max-width: 33%;
        flex: 0 0 33%;

        &.benefitbox:nth-child(4n) {
            border-right: 1.5px solid rgba(198, 200, 253, 0.5);
        }

        &.benefitbox:nth-last-child(-n+4) {
            border-bottom: 1.5px solid rgba(198, 200, 253, 0.5);
        }

        &.benefitbox:nth-child(3n) {
            border-right: none;
        }

        &.benefitbox:nth-last-child(-n+3) {
            border-bottom: none;
        }
    }

    .bnrsect {
        padding: 40px 0;
    }

    .bnrslidewrap .bnrdescr,
    .bnrslidewrap .bnrsvgtext {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .bnrslidewrap {
        height: auto;
        padding-bottom: 30px;
        text-align: right;
    }

    .bnrslidewrap {
        padding-right: 120px;
    }

    .bnrslidewrap .bnrdescr .subtitle {
        font-size: 18px;
    }

    .bnrslidewrap .bnrdescr img {
        display: inline-block;
    }

    .bnrslidewrap .bnrdescr,
    .bnrslidewrap .bnrsvgtext {
        padding: 0;
    }

    .dlslider__nav .dlslider__nav-r {
        max-width: 100%;
        flex: 0 0 100%;
    }

}

@media(max-width:767.8px) {

    .dlslidersection,
    .gridinfo {
        padding: 60px 0 30px 0;
    }

    .benefitbox {
        max-width: 50%;
        flex: 0 0 50%;

        &.benefitbox:nth-child(3n) {
            border-right: 1.5px solid rgba(198, 200, 253, 0.5);
        }

        &.benefitbox:nth-last-child(-n+3) {
            border-bottom: 1.5px solid rgba(198, 200, 253, 0.5);
        }

        &.benefitbox:nth-child(2n) {
            border-right: none;
        }

        &.benefitbox:nth-last-child(-n+2) {
            border-bottom: none;
        }
    }



}

@media(max-width:575.8px) {
    .dlslidersection h2 {
        text-align: left;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 24px;
    }

    .dlslider .slidewrapper .slidedesrwrap .title {
        font-size: 24px;
    }

    .dlslider .slidewrapper .slidedesrwrap .subtitle {
        font-size: 14px;
    }

    .benefitbox {
       height: 180px;
       padding: 10px;
    }

    .benefitbox .title {
        font-size: 16px;
    }

    .benefitbox .descr {
        font-size: 12px;
        -webkit-line-clamp: 6;
    }

    .bnrslidewrap .bnrdescr .subtitle {
        font-size: 14px;
    }

    .bnrsect {
        padding: 30px 0;
    }
}




// font-family: Montserrat;