header.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    height: 96px;
    padding: 10px 40px;
    transition: 0.5s;

    .langlist {
        display: none;

        a {
            transition: 0.3s;
        }
    }

    nav {
        width: 100%;
        max-width: calc(100% - 600px);
        flex: 0 0 calc(100% - 600px);

        &>ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &>li {
                position: relative;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                &.dropdown {
                    &>a, &>span {
                        position: relative;
                        padding-right: 20px;

                        svg {
                            position: absolute;
                            right: 0;
                            top: 4px;
                            transition: 0.3s;
                        }

                        &.rotate {
                            svg {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }

                &>a, &>span {
                    display: inline-block;
                    cursor: pointer;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 1.05px;

                    background: linear-gradient(to right, white, white 50%, #8CFFAC 55%, #93FFEB);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 220% 100%;
                    transition: background-position 0.5s ease;

                    &:hover {
                        background-position: 100%;
                    }
                }
            }
        }
    }
}

.header__logo {
    width: 100%;
    max-width: 300px;
    flex: 0 0 300px;
    transition: 0.5s;

    img {
        max-width: 163px;
    }
}

.header__rightbox {
    width: 100%;
    max-width: 300px;
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerbtn {
    font-size: 16px;
    color: #C9FA3D;
    font-weight: 700;
    line-height: 120%;
    border: 0.5px solid #C9FA3D;
    display: inline-block;
    transition: 0.3s;
    padding: 12px 21px;

    svg {
        vertical-align: middle;
        margin-top: -3px;

        path {
            transition: 0.5s;
        }
    }

    &:hover {
        background: #0F0F10;
        box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
    }

}

// MEGAMENU
.megamenu {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    width: 100%;
    left: 0;
    position: fixed;
    top: 56px;
    padding-top: 40px;
}

.megamenu.show {
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    z-index: 4;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.megamenu__wrapper {
    background: #fff;
    padding: 40px 0 56px;
    max-height: calc(100vh - 96px);
    overflow: auto;
    box-shadow: 0 10px 10px #00000024;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a1a1a1;
        border-radius: 10px;
    }


    .listscolumn {
        width: 100%;
        max-width: 58%;
        flex: 0 0 58%;

        .title {
            margin-bottom: 30px;
            font-size: 14px;
            color: #141414;
        }
    }

    .slidercolumn {
        width: 100%;
        max-width: 42%;
        flex: 0 0 42%;
    }
}

.listscolumn {
    .mainlist {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        border-right: 0.5px solid #C9FA3D;

        ul {
            list-style-type: none;

            li {
                position: relative;
                margin-bottom: 36px;

                &:last-child {
                    margin-bottom: 24px;
                }

                a {
                    color: #636B7F;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: 0.3s;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: url('../images/header/mgmenuarr.svg') no-repeat center / 100%;
                        opacity: 0;
                        z-index: -1;
                        visibility: hidden;
                        transform: translateX(-10px);
                        transition: 0.3s;
                    }

                    &:hover,
                    &.active {
                        color: #0F0F10;
                        padding-left: 20px;

                        &::after {
                            opacity: 1;
                            z-index: 1;
                            visibility: visible;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }

    .sidelists {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        padding-left: 80px;

        ul {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;

            &.show {
                display: block;
            }

            li {
                margin-bottom: 16px;

                a {
                    font-size: 16px;
                    color: #0F0F10;
                    line-height: 180%;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    }
}

.mgmenubottbtn {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 32px;

    a {
        font-size: 16px;
        color: #0F0F10;
        line-height: 120%;
        min-height: 46px;
        max-width: 260px;
        width: 100%;
        background: #C9FA3D;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;

        svg {
            position: relative;
            margin-left: 4px;
        }
    }
}

// SECOND MEGAMENU
.dealslistscolumn {
    width: 100%;
    max-width: 42%;
    flex: 0 0 42%;
    border-right: 0.5px solid #C9FA3D;

    .title {
        margin-bottom: 30px;
        font-size: 14px;
        color: #141414;
    }

    ul {
        list-style: none;

        li {
            position: relative;
            margin-bottom: 36px;

            a {
                color: #636B7F;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                transition: 0.3s;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: url(../images/header/mgmenuarr.svg) no-repeat center / 100%;
                    opacity: 0;
                    z-index: -1;
                    visibility: hidden;
                    transform: translateX(-10px);
                    transition: 0.3s;
                }

                &:hover,
                .active {
                    color: #0F0F10;
                    padding-left: 20px;

                    &::after {
                        opacity: 1;
                        z-index: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

.dealscolumn {
    width: 100%;
    max-width: 58%;
    flex: 0 0 58%;
    padding-left: 150px;

    .title {
        margin-bottom: 30px;
        font-size: 14px;
        color: #141414;
    }

    .headerdeals {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        .headerdeal {
            width: 100%;
            max-width: calc(25% - 10px);
            flex: 0 0 calc(25% - 10px);
            height: 239px;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            transition: 0.3s;
            box-shadow: 0 2px 12px rgba(#000, 0.1);
            border: 1px solid #fff;

            &:hover {
                border: 1px solid #5A15CB;
                box-shadow: 0 2px 12px rgba(90, 21, 203, 0.5);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }

            p {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                margin: 0;
                font-size: 12px;
                font-weight: 800;
                line-height: 130%;
                color: #fff;
                z-index: 2;
                text-align: center;
                padding: 12px;
            }
        }
    }


}


// header SLIDER
.slidercolumn {
    text-align: right;
}

.headerslider {
    max-width: 685px;
    display: inline-block;
    width: 100%;

    .slick-slide {
        padding: 20px;
    }

    .slick-dots {
        list-style: none;
        text-align: center;
        margin-top: -10px;

        li {
            margin: 0 4px;
            display: inline-block;
            vertical-align: middle;

            button {
                font-size: 0;
                padding: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: none;
                background: #5A15CB;
                opacity: 0.2;
                transition: 0.3s;
            }
        }

        li.slick-active {
            button {
                opacity: 1;
            }
        }
    }

    .headerslider__slide {
        height: 284px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #5A15CB;
        border-radius: 6px;
        overflow: hidden;
        transition: 0.3s;

        &:hover {
            box-shadow: 0 2px 12px rgba(#5A15CB, 0.5);
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 4px;
            width: 100%;
            height: 100%;
        }

        p {
            position: relative;
            z-index: 2;
            color: #fff;
            text-align: left;
            padding: 10px 10px 10px 40px;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            line-height: 135%;
        }
    }
}

// WHITE header
.header.header {

    &.white,
    &.whitedefault {
        background: #fff !important;

        nav>ul>li>a, nav>ul>li>span {
            background: linear-gradient(to right, #212121, #212121 30%, #8CFFAC 40%, #93FFEB 65%, #a1a1a1 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 330% 100%;
        }

        nav>ul>li>a,
        nav>ul>li>span {
            background: linear-gradient(to right, #212121, #212121 30%, #8CFFAC 40%, #93FFEB 65%, #a1a1a1 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 330% 100%;

            &:hover {
                background-position: 100% 0;
            }
        }

        .header__logo {
            filter: invert(1);
        }

        .headerbtn {
            color: #0F0F10;
            border-color: #0F0F10;

            svg path {
                stroke: #0F0F10;
            }

            &:hover {
                color: #fff;

                svg path {
                    stroke: #fff;
                }
            }
        }

        nav>ul>li.dropdown>a,
        nav>ul>li.dropdown>span {
            &>svg {
                path {
                    stroke: #212121;
                }
            }

            &:hover {
                path {
                    stroke: #a1a1a1;
                }
            }
        }

        .header__language span {
            background: linear-gradient(to right, #212121, #212121 55%, #8CFFAC 54%, #93FFEB);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .header__burger span {
            background: #0F0F10;
        }
    }

    &.headeropacbg {
        background: rgba(0, 0, 0, 0.9);
    }
}

// BLACK HEADER
.header.header {
    &.black {
        background-color: #0A0A0B;
    }
}

// Header baner
.header.header {
    &.support {
        top: 40px;

        .megamenu {
            top: 96px;
        }
    }

}

.supua {
    height: 40px;
    background: #3663D8;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    transition: 0.3s;

    p {
        margin: 0;
        display: flex;
        align-items: center;

        img {
            max-width: 42px;
            margin: 0 20px;
        }

        span.ltext {
            font-size: 12px;
            line-height: 15px;
            font-family: "Montserrat", sans-serif;
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 20px;
        }

        .supua__link {
            display: inline-block;
            padding: 3px 31px;
            color: #fff;
            text-decoration: none;
            background: #F2B14F;
            border-radius: 43px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            font-family: "Montserrat", sans-serif;
            transition: 0.3s;
        }
    }
}

.header__burger,
.headermobilebtn,
.tablet-sublist,
.tabletarrow,
.tabletmenu {
    display: none;
}

header.header.white,
header.header.whitedefault {
    border-bottom: 0.5px solid #C9FA3D;
}

.slidercolumn {
    padding-top: 24px;
}

@media(max-width:1600.8px) {
    header.header nav>ul>li {
        margin-right: 26px;

        &>a {
            font-size: 15px;
        }
    }

    .listscolumn .mainlist ul li,
    .dealslistscolumn ul li {
        margin-bottom: 30px;
    }

    .listscolumn .sidelists {
        padding-left: 60px;
    }

    .listscolumn .sidelists ul li {
        margin-bottom: 10px;

        a {
            font-size: 14px;
        }
    }

    .mgmenubottbtn {
        margin-top: 20px;
    }

    .headerslider .headerslider__slide {
        height: 240px;
    }

    .dealscolumn {
        padding-left: 60px;
    }

    .dealscolumn .headerdeals .headerdeal {
        height: 220px;
    }

}

@media(max-width:1440.8px) {
    .megamenu__wrapper {
        .service-container {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}

@media(max-width:1400.8px) {
    header.header nav>ul>li {
        margin-right: 15px;
    }

    header.header nav>ul>li>a {
        font-weight: 500;
    }

    .header__logo {
        max-width: 200px;
        flex: 0 0 200px;
    }

    .header__rightbox {
        max-width: 280px;
        flex: 0 0 280px;
    }

    header.header nav {
        max-width: calc(100% - 480px);
        flex: 0 0 calc(100% - 480px);
    }

    .header__language {
        margin-right: 0 !important;
    }

    .megamenu__wrapper .listscolumn .title,
    .dealslistscolumn .title,
    .dealscolumn .title {
        margin-bottom: 20px;
    }

    .listscolumn .mainlist {
        padding-right: 15px;

        ul li a {
            display: block;
        }
    }

    .listscolumn .sidelists {
        padding-left: 20px;
    }

    .headerslider .headerslider__slide p {
        font-size: 18px;
    }

    .headerslider .headerslider__slide {
        height: 200px;
    }

    .dealslistscolumn {
        padding-right: 15px;
    }

    .dealscolumn {
        padding-left: 30px;
    }

}

@media(max-width:1280.8px) {
    .header__logo img {
        max-width: 108px;
    }

    header.header nav>ul>li>a {
        font-size: 14px;
        font-weight: 700;
    }

    .header.header.white .header__language span,
    .header.header.whitedefault .header__language span {
        font-size: 14px;
    }

    header.header .header__language span:after {
        top: -2px;
    }

    header.header {
        height: 86px;
    }

    header.header nav>ul>li {
        margin-right: 32px;
    }

    .header__logo {
        max-width: 160px;
        flex: 0 0 160px;
    }

    header.header nav {
        max-width: calc(100% - 440px);
        flex: 0 0 calc(100% - 440px);
    }

    .megamenu {
        padding-top: 30px;
    }

    header.header {
        .service-container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .megamenu__wrapper {
        padding: 16px 0 32px;
    }

    .megamenu__wrapper .listscolumn .title {
        margin-bottom: 22px;
    }

    .listscolumn .sidelists {
        padding-left: 60px;
    }

    .headerslider .slick-dots li button {
        width: 8px;
        height: 8px;
    }

    .headerslider .slick-dots li {
        margin: 0 2px;
    }

    .headerslider .slick-slide {
        padding: 10px;
    }

    .dealslistscolumn {
        border-right: none;
    }

    .dealscolumn .headerdeals .headerdeal {
        height: 180px;
    }

    .dealscolumn {
        max-width: 53%;
        flex: 0 0 53%;
    }

    .dealslistscolumn {
        max-width: 47%;
        flex: 0 0 47%;
    }

    .dealscolumn .headerdeals .headerdeal p {
        font-size: 11px;
    }

    main {
        padding-top: 86px;
    }

}

@media(max-width:1199.8px) {

    header.header.white,
    header.header.whitedefault {
        border-bottom: none;
    }

    .header__rightbox .headerbtn {
        display: none;
    }

    .header__burger {
        width: 22px;
        max-width: 22px;
        flex: 0 0 22px;
        height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        align-items: flex-end;
        right: 40px;
        position: absolute;

        span {
            background: #fff;
            display: inline-block;
            height: 2px;
            width: 100%;
            transition: 0.5s;

            &:nth-child(2) {
                width: 60%;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(6px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(10px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(6px, -5px);
                }

            }
        }
    }

    header.header nav {
        overflow: auto;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: 0.5s;
        display: block;
        transform: translateY(-10px);
        padding-bottom: 40px;

        &.show {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            position: fixed;
            left: 0;
            top: 86px;
            width: 100%;
            height: calc(100vh - 86px);
            background: #fff;
            max-width: initial;
            transform: translateY(0);
            border-top: 0.5px solid #C9FA3D;
        }


    }

    .header.header.white nav.show>ul,
    .header.header.whitedefault nav.show>ul {
        display: block;
        padding: 40px;

        &>li {
            margin: 0 0 15px 0;

            &>a {
                font-size: 21px;
                font-weight: 600;

                svg {
                    top: 5px;
                }
            }
        }
    }

    .megamenu {
        position: relative;
        top: 0;
        padding: 0;
        visibility: visible;
        opacity: 1;
        z-index: 1;
        display: none;

        .service-container {
            padding: 0 !important;
        }

        &.show {
            display: block;
        }
    }

    .megamenu__wrapper {
        padding-bottom: 20px;
    }

    .header__rightbox {
        max-width: 150px;
        flex: 0 0 150px;
    }

    header.header {
        justify-content: space-between;

        nav {
            max-width: calc(100% - 350px);
            flex: 0 0 calc(100% - 350px);
        }
    }

    .headermobilebtn {
        display: block;
        padding: 0 40px;

        a {
            min-width: 260px;
            text-align: center;
        }
    }

    .megamenu__wrapper {
        max-height: initial;
    }

    .headermobilebtn .headerbtn {
        background: transparent !important;

        &:hover {
            box-shadow: none;
        }
    }

    .header.header {
        &.support {
            top: 40px;

            nav.show {
                top: 136px;
                height: calc(100vh - 136px);
            }
        }

    }

    .header.header.support .megamenu {
        top: 0;
    }

    .header.header.white .headerbtn:hover,
    .header.header.whitedefault .headerbtn:hover {
        color: #0F0F10;

        svg path {
            stroke: #0F0F10;
        }
    }

    .megamenu__wrapper {
        box-shadow: none;
    }

}

@media(max-width:991.8px) {
    .supua {
        font-size: 18px;

        p {
            img {
                max-width: 30px;
                margin: -3px 10px 0 10px;
            }
        }
    }

    .header__burger {
        right: 40px;
        position: absolute;
    }

    header.header.white .header__language .langlist,
    header.header.whitedefault .header__language .langlist {
        z-index: 1;
    }

    .header.header.white nav.show>ul>li,
    .header.header.whitedefault nav.show>ul>li {
        margin-bottom: 26px;
    }

    .header.header.white nav.show>ul>li>a,
    .header.header.whitedefault nav.show>ul>li>a {
        font-size: 26px;
        padding-right: 25px;
    }

    .header.header.white nav.show>ul>li>a svg,
    .header.header.whitedefault nav.show>ul>li>a svg {
        width: 22px;
        height: 22px;
        top: 7px;
    }

    .headermobilebtn .headerbtn {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 48px;
        justify-content: center;
        background: transparent;
    }

    .listscolumn .sidelists {
        display: none;
    }

    .listscolumn .mainlist,
    .megamenu__wrapper .listscolumn,
    .megamenu__wrapper .slidercolumn {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .headerslider .slick-slide {
        padding: 0;
    }

    .megamenu__wrapper .listscolumn .title {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 24px;
    }

    .megamenu__wrapper {
        padding: 32px 0 20px;
    }

    .listscolumn .mainlist ul li a {
        font-size: 20px;
    }

    .listscolumn .mainlist {
        padding-right: 0;
        border-right: none;
    }

    .slidercolumn {
        text-align: left;
    }

    .headerslider .slick-dots {
        margin-top: 0;
    }

    .header.header.white nav>ul>li.dropdown>a,
    .header.header.whitedefault nav>ul>li.dropdown>a {
        background: none;
        -webkit-text-fill-color: initial;
        color: #141414;

        svg path {
            stroke: #141414;
        }

        &:hover {
            svg path {
                stroke: #141414;
            }
        }
    }

    .mgmenubottbtn {
        margin-top: 30px;

        a {
            max-width: 100%;
        }
    }

    .megamenu__wrapper .listscolumn {
        display: none;
    }

    .tabletmenu {
        display: block;

        .title {
            color: #141414;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 24px;
        }

        &>ul {
            &>li {
                margin-bottom: 26px;

                &>a {
                    color: #141414;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 130%;
                    position: relative;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url('../images/header/down.svg') no-repeat center / 100%;
                        vertical-align: middle;
                        margin-top: -6px;
                        margin-left: 4px;
                        transition: 0.3s;
                    }
                }
            }
        }

        .tablet-submenu {
            padding: 26px 0 0 0;
            display: none;

            li {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #0F0F10;
                    font-size: 20px;
                    line-height: 180%;
                }
            }
        }
    }

    .activetablet {
        &::after {
            transform: rotate(-180deg);
        }
    }

    .dealslistscolumn,
    .dealscolumn {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .dealslistscolumn .title,
    .dealscolumn .title {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 24px;
    }

    .dealslistscolumn ul li a {
        font-size: 20px;
        color: #141414;
        line-height: 130%;
    }

    .dealslistscolumn {
        border-right: none;
    }

    .dealscolumn .headerdeals .headerdeal {
        max-width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        height: 240px;
        margin-bottom: 24px;

        img {
            object-position: 50% 0;
        }

        p {
            font-size: 20px;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background: rgba(#000, 0.5);
                filter: blur(20px);
                z-index: -1;
            }

        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    .dealslistscolumn ul li a .active,
    .dealslistscolumn ul li a:hover {
        padding-left: 0;

        &::after {
            display: none;
        }
    }





}

@media(max-width:767.8px) {
    .supua {
        height: 58px;

        p {
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 700;
            font-size: 16.4062px;
            line-height: 140%;

            img {
                max-width: 35px;
                margin-top: -1px;
            }

            span.ltext {
                display: block;
                width: 100%;
                margin-top: 5px;
                font-weight: 600;
                font-size: 9.375px;
                line-height: 11px;
            }
        }
    }

    .supua p .supua__link,
    .supua p span.ltext:after,
    .supua p span.ltext:before {
        display: none;
    }

    .header__burger {
        position: absolute;
        right: 0;
    }

    .header.header .header__logo {
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    }

    .header__rightbox {
        max-width: 100px;
        flex: 0 0 100px;
    }

    header.header nav {
        display: none;

        &.show {
            display: block;
        }
    }

    .header__burger {
        position: absolute;
        right: 20px;
    }

}

@media(max-width:575.8px) {

    header.header {
        height: 68px;
        padding: 5px 24px;
    }

    .header.header .header__logo {
        img {
            max-width: 150px;
        }
    }

    .header__rightbox {
        max-width: 90px;
        flex: 0 0 90px;
    }

    .header__burger {
        position: absolute !important;
        right: 24px;
    }

    .header.header .header__logo {
        max-width: calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
    }

    header.header nav.show {
        top: 68px;
        height: calc(100vh - 68px);
    }

    header.header nav>ul,
    .header.header.white nav.show>ul,
    .header.header.whitedefault nav.show>ul {
        padding: 40px 16px;
    }

    .header.header.white nav.show>ul>li,
    .header.header.whitedefault nav.show>ul>li {
        margin-bottom: 24px;
    }

    .headermobilebtn {
        padding: 0 24px;
    }

    .tabletmenu .title {
        font-size: 16px;
    }

    .megamenu__wrapper {
        padding-top: 24px;
    }

    .tabletmenu .tablet-submenu li a {
        font-size: 18px;
    }

    .tabletmenu>ul>li>a {
        font-size: 16px;
        padding-right: 30px;
        display: block;

        &::after {
            position: absolute;
            right: 0;
            top: 3px;
        }
    }

    .tabletmenu .tablet-submenu {
        padding-top: 20px;
    }

    .headerslider .headerslider__slide {
        height: 300px;
    }

    .headerslider .headerslider__slide p {
        font-size: 28px;
        padding: 24px;
        width: 100%;
    }

    .headerslider .headerslider__slide {
        align-items: flex-start;
    }

    .headerslider .headerslider__slide img {
        object-position: 80% 50%;
    }

    .dealslistscolumn .title {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .dealslistscolumn ul li a,
    .dealscolumn .title {
        font-size: 16px;
    }

    .dealslistscolumn ul li {
        margin-bottom: 24px;
    }

    .dealscolumn .headerdeals .headerdeal p {
        font-size: 13px;
        padding: 10px 8px;
    }

    .header.header.support {
        top: 58px;
    }







    main {
        padding-top: 56px;
    }

    .progress-container.support {
        top: 125px !important;
    }

    .progress-container {
        top: 68px !important;
    }
}