.serviceswelcome {
    padding: 88px 0 135px;
    font-family: 'Montserrat',
        sans-serif;
}

.serviceswelcome__left {
    h1 {
        color: #fff;
        font-size: 80px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 40px;

        span {
            color: #C9FA3D;
        }
    }

    p {
        max-width: 738px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 200%;
        opacity: 0.7;
        margin-bottom: 40px;
    }

    a {
        display: inline-block;
        background: #C9FA3D;
        transition: 0.3s;
        color: #0F0F10;
        font-size: 18px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.36px;
        padding: 22px 44px;

        &:hover {
            box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
        }
    }
}

.slinfwrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;

    .slinf {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        max-width: 38%;
        flex: 0 0 38%;
    }

    .srinf {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        max-width: 62%;
        flex: 0 0 62%;
    }

    .col-6 {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-12 {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.servwelinfobox {
    padding: 36px;
    border-radius: 24px;
    border: 1px solid rgba(219, 255, 116, 0.20);
    background: rgba(15, 15, 16, 0.90);
    box-shadow: 6px 5px 18px 0px #000;
    text-align: center;
    overflow: hidden;
    height: 256px;

    .title {
        color: #C9FA3D;
        font-size: 80px;
        font-weight: 700;
        line-height: 120%;
    }

    .descr {
        color: #FFF;
        font-size: 22px;
        font-weight: 500;
        line-height: 200%;
    }

    &.vertlong {
        height: 584px;

        img {
            margin-top: 32px;
            margin-bottom: 64px;
            max-width: 100%;
            max-height: 230px;
        }
    }

    &.horlong {
        margin-top: 16px;
        height: 312px;
        background: linear-gradient(135deg, #C9FA3D 0%, #4AFF88 100%);
        padding: 24px 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .horlongheader {
        display: flex;
        flex-wrap: wrap;

        span {
            color: #0F0F10;
            font-size: 80px;
            font-weight: 700;
            line-height: 120%;
            width: 100%;
            max-width: 150px;
            flex: 0 0 150px;
        }

        p {
            color: #0F0F10;
            font-size: 22px;
            font-weight: 500;
            line-height: 200%;
            width: 100%;
            max-width: calc(100% - 150px);
            flex: 0 0 calc(100% - 150px);
            text-align: left;
            padding-left: 8px;
        }
    }
}

.hupd-clientfutured.services {
    padding: 104px 0;
    background: rgba(10, 10, 11, 0.7);
    box-shadow: 0px 4px 52px 0px rgba(219, 255, 116, 0.10);
    font-family: 'Montserrat', sans-serif;

    .service-container {
        padding-right: 0;
    }

    .clientfutured__imgs .slick-slide {
        margin: 0 70px;
    }

    .hupd-clientfutured__left {
        max-width: 440px;
        flex: 0 0 440px;

        p {
            font-size: 35px;
            line-height: 140%;
        }
    }

    .hupd-clientfutured__right {
        max-width: calc(100% - 440px);
        flex: 0 0 calc(100% - 440px);
    }
}

.servappssect {
    padding: 158px 0 294px;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: #fff;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 88px;
    }

    .serviserow {
        margin-left: -8px;
        margin-right: -8px;
    }

    .servappssect__leftcol {
        width: 100%;
        max-width: 66.333%;
        flex: 0 0 66.333%;
        padding-left: 8px;
        padding-right: 8px;

        a {
            display: block;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .servappssect__rightcol {
        width: 100%;
        max-width: 33.333%;
        flex: 0 0 33.333%;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.servappbox {
    padding: 48px 104px 24px;
    border: 1px solid rgba(219, 255, 116, 0.20);
    background: rgba(15, 15, 16, 0.90);
    box-shadow: 6px 5px 18px 0px #000;
    transition: 0.3s;
    height: 540px;
    overflow: hidden;

    .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 140%;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;

        img {
            vertical-align: middle;
            margin-top: -3px;
        }
    }

    .appinfowrap {
        display: flex;
        flex-wrap: wrap;

        .imgwrap {
            max-width: 68%;
            flex: 0 0 68%;
            border-radius: 5px;
            box-shadow: 0px 24px 160px 0px rgba(0, 0, 0, 0.25);
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .descrwrap {
            max-width: 100%;
            max-width: 32%;
            flex: 0 0 32%;
            padding-left: 60px;
            padding-top: 15px;

            .descrbox {
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 160%;
                    margin: 0;
                }

                .descrbox__title {
                    margin-bottom: 4px;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 140%;
                }
            }
        }
    }

    &:hover {
        box-shadow: 6px 5px 24px 0px rgba(226, 252, 88, 0.35);
        border-color: #8CFFAC;
    }

    &.vertical {
        text-align: center;
        padding: 48px 100px;
        height: 867px;

        .appinfowrap .imgwrap {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 16px;
        }

        .servappbox .title {
            margin-bottom: 48px;
        }

        .appinfowrap .descrwrap {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
        }

        .appinfowrap .descrwrap .descrbox {
            p {
                font-size: 18px;
            }

            .descrbox__title {
                font-size: 32px;
            }
        }
    }

}

.vievallcases {
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--primary-lime, #C9FA3D);
    box-shadow: 6px 5px 18px 0px #000;
    display: flex;
    align-items: center;
    height: 212px;
    margin-top: 16px;
    padding: 20px 64px;
    color: #0F0F10;
    font-size: 56px;
    font-weight: 700;
    line-height: 135%;
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
    }

    span {
        width: 100%;
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        text-align: right;
        padding-right: 36px;
    }

    img {
        width: 100%;
        max-width: 80px;
        flex: 0 0 80px;
    }
}

.shareidea__wrap {
    position: relative;
    padding: 64px 120px;
    border-radius: 24px;
    border-top: 1px solid rgba(219, 255, 116, 0.20);
    border-bottom: 1px solid rgba(219, 255, 116, 0.20);
    border-left: 1px solid rgba(219, 255, 116, 0.20);
    background: rgba(10, 10, 11, 0.7);
    box-shadow: 6px 5px 18px 0px #000;
    font-family: 'Montserrat', sans-serif;

    .shareideapic1 {
        position: absolute;
        left: -80px;
        top: -100px;
        width: 226px;
    }

    .shareideapic2 {
        position: absolute;
        right: -40px;
        top: -3px;
        width: 218px;
    }

    .shareideapic3 {
        position: absolute;
        left: 47%;
        bottom: -100px;
        width: 270px;
    }

    .shareideapic4 {
        position: absolute;
        bottom: 0;
        right: 180px;
    }





}

.shareidea {
    padding-bottom: 174px;
}

.shareidea__form {
    max-width: 622px;
    width: 100%;

    .title {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        margin-bottom: 40px;

        span {
            color: #C9FA3D;
        }
    }

    .inputfield {
        margin-bottom: 46px;

        input,
        textarea {
            height: 42px;
            background: transparent;
            width: 100%;
            border: none;
            border-bottom: 1px solid #E7EAEC;
            font-size: 16px;
            color: #D8D8D8;
            font-weight: 600;
            letter-spacing: 0.32px;
            font-family: 'Montserrat', sans-serif;
            outline: none;
            transition: 0.3s;

            &:focus {
                border-color: #C9FA3D;
            }
        }

        textarea {
            padding-top: 10px;
            resize: none;
        }
    }

    .submform {
        height: 67px;
        width: 288px;
        padding: 5px 10px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #C9FA3D;
        color: #0F0F10;
        font-size: 18px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.36px;
        border: none;
        outline: none;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
        }
    }
}

.service-testimonials {
    font-family: 'Montserrat', sans-serif;
}

.testimonialslideblock {
    border-radius: 24px;
    border: 1px solid rgba(219, 255, 116, 0.20);
    background: rgba(15, 15, 16, 0.90);
    box-shadow: 6px 5px 18px 0px #000;
    padding: 112px 189px 68px;
    position: relative;

    .service-container {
        padding: 0;
    }

    &>p {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        line-height: 200%;
        margin-bottom: 48px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 176px;
    }
}

.testimonialslideblock__bottsect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .testimonialslideblock__user {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        display: flex;
        align-items: center;

        img {
            width: 100%;
            max-width: 88px;
            flex: 0 0 88px;
            height: 88px;
            border-radius: 50%;
        }

        .testimonialslideblock__userdescr {
            width: 100%;
            max-width: calc(100% - 88px);
            flex: 0 0 calc(100% - 88px);
            padding-left: 24px;

            p {
                font-size: 24px;
                font-weight: 700;
                line-height: 135%;
                color: #4B4B4B;
            }

            .name {
                color: #fff;
            }
        }

    }

    .testimonialslideblock__rating {
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            line-height: 200%;
            margin-bottom: -3px;
        }

        .stars {
            display: flex;
            align-items: center;
            padding-left: 8px;

            img {
                margin: 0 2px;
            }
        }
    }
}

.testimonialslider-new {

    .slick-track {
        padding-bottom: 32px;
    }

    .slick-slide {
        padding: 0 32px;
        filter: grayscale(1);
        opacity: 0.4;
        transition: 0.3s;
    }

    .slick-current.slick-active.slick-center {
        filter: grayscale(0);
        opacity: 1;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;

        button {
            color: transparent;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #E7EAEC;
            margin: 0 8px;
        }

        .slick-active {
            button {
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                border: 1px solid transparent;
            }
        }
    }

    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
        width: 67px;
        height: 67px;
        border-radius: 100px;
        border: 1px solid #E7EAEC;
        background: #1A1A1C;
        background-repeat: no-repeat;
        background-position: center;
        bottom: initial;
        top: 50%;
        transform: translateY(-33px);
        position: absolute;
        z-index: 2;
        cursor: pointer;
    }

    .slick-next.slick-arrow {
        background-image: url('../images/services/arrslright.svg');
        right: 330px;
    }

    .slick-prev.slick-arrow {
        background-image: url('../images/services/arrslleft.svg');
        left: 330px;
    }
}

.qtop {
    position: absolute;
    top: 36px;
    left: 48px;
    width: 100px;
}

.qbot {
    position: absolute;
    right: 48px;
    bottom: 36px;
    width: 100px;
}

.slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    filter: grayscale(1);
    opacity: 0.4;
    transition: 0.3s;
}

/* slide when active/center */
.slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
    filter: grayscale(0);
    opacity: 1;
}

.servtitle {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 88px;
}

.wwd {
    padding: 44px 0 64px;
    font-family: 'Montserrat', sans-serif;

}

.wwd__tabs {
    border-radius: 24px;
    border: 1px solid rgba(219, 255, 116, 0.20);
    background: rgba(15, 15, 16, 0.90);
    box-shadow: 6px 5px 18px 0px #000;
    padding: 88px;
    display: flex;

    .wwd__tablinks {
        width: 100%;
        max-width: 40%;
        flex: 0 0 40%;

        ol {
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 36px;
                font-size: 24px;
                font-weight: 700;
                line-height: 135%;
                color: #4B4B4B;
                transition: 0.3s;

                &:last-child {
                    margin-bottom: 0;
                }

                &.active {
                    color: #C9FA3D;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .wwd__tabcontents {
        width: 100%;
        max-width: 60%;
        flex: 0 0 60%;
        padding-left: 160px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 1px;
            background: url('../images/services/lineel.png') no-repeat center / 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        img {
            max-height: 88px;
            margin-bottom: 24px;
        }

        .title {
            margin-bottom: 24px;
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            line-height: 140%;
        }

        .descr {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            line-height: 200%;

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
}

.tabcontent {
    display: none;

    &.show {
        display: block;
    }
}

.servtech {
    padding: 100px 0 64px;
    background: url('../images/services/bgtech.png') no-repeat center / 100%;
    font-family: 'Montserrat', sans-serif;

    &.active {
        .techrow .techrow__line {
            transform: translateX(0);
        }
    }
}

.service-testimonials,
.servappssect,
.wwd {
    background: url('../images/services/bgtech.png') no-repeat center / 100%;
}

.techrow {
    display: flex;
    height: 82px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(201, 250, 61, 0.20);
    background-color: #141414;
    margin-bottom: 68px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    .techrow__percent {
        padding-right: 100px;
        display: flex;
        align-items: center;

        .pec {
            width: 100%;
            max-width: 60px;
            flex: 0 0 60px;
            color: #C9FA3D;
            font-size: 22px;
            font-style: italic;
            font-weight: 500;
            line-height: 200%;
        }

        .line {
            padding-right: 8px;
            width: 100%;
            max-width: calc(100% - 60px);
            flex: 0 0 calc(100% - 60px);

            i {
                height: 1px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #DBFF74 100%);
                display: block;
            }
        }
    }

    .techrow__line {
        display: flex;
        align-items: center;
        padding: 5px 24px;
        border-radius: 8px;
        height: 100%;
        background-image: url('../images/services/bgtechrow.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 135%;
        }

        .techicon {
            img {
                max-width: 47px;
                max-height: 40px;
            }
        }

        transition: 1s;
        transform: translateX(100%);
    }

    &.v1 {
        .techrow__percent {
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;
        }

        .techrow__line {
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;

        }
    }

    &.v2 {
        .techrow__percent {
            width: 100%;
            max-width: 28%;
            flex: 0 0 28%;
        }

        .techrow__line {
            width: 100%;
            max-width: 72%;
            flex: 0 0 72%;

        }
    }

    &.v3 {
        .techrow__percent {
            width: 100%;
            max-width: 17%;
            flex: 0 0 17%;
        }

        .techrow__line {
            width: 100%;
            max-width: 83%;
            flex: 0 0 83%;

        }
    }

}

.service-workin.p0 {
    padding-bottom: 0;

    .workinsliderserv .slick-track {
        padding-bottom: 130px;
    }
}

.workinsliderserv {
    &::after {
        display: none;
    }
}

.slinfwrap.mobshow {
    display: none;
}

.rdytobecome {
    padding: 120px 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 6px 40px 0px rgba(226, 252, 88, 0.10);
    margin-bottom: 164px;

    &::after,
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        z-index: 2;
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(135deg, #C9FA3D 0%, #4AFF88 100%);
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(135deg, #C9FA3D 0%, #4AFF88 100%);
    }

    .rdytobecome__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    h3 {
        color: #fff;
        font-size: 80px;
        font-weight: 700;
        line-height: 120%;
        max-width: 1031px;
        margin: 0 auto 64px;
    }

    .rdytobecome__link {
        font-size: 32px;
        font-weight: 700;
        line-height: 140%;


        img {
            width: 44px;
            vertical-align: middle;
            margin-top: -3px;
            transition: 0.3s;
        }

        span {
            position: relative;
            background: linear-gradient(125.34deg, #CDFF7C 0%, #8CFFAC 30.63%, #93FFEB 51%, white 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 250% 100%;
            -webkit-transition: background-position 0.5s ease;
            transition: background-position 0.5s ease;
            background-position: 0 0;

            &::after {
                content: "";
                display: inline-block;
                height: 2px;
                width: 0;
                position: absolute;
                left: 0;
                bottom: -5px;
                background: #a9ff97;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
        }

        &:hover {
            img {
                -webkit-animation: movearr 1s infinite;
                animation: movearr 1s infinite;
            }

            span {
                &::after {
                    width: 100%;
                }
            }
        }


    }
}

@keyframes movearr {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}



@media(max-width:1800.8px) {
    .servwelinfobox .title {
        font-size: 60px;
    }

    .servwelinfobox .descr {
        font-size: 20px;
        line-height: 160%;
    }

    .servwelinfobox .horlongheader p {
        line-height: 170%;
    }

    .vievallcases {
        font-size: 40px;
        padding: 20px 40px;
    }

    .servappbox {
        padding: 48px 50px 24px;
    }

    .servappbox .appinfowrap .descrwrap {
        padding-top: 0;
        padding-left: 30px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox .descrbox__title {
        font-size: 28px;
    }

    .testimonialslider-new .slick-prev.slick-arrow {
        left: 230px;
    }

    .testimonialslider-new .slick-next.slick-arrow {
        right: 230px;
    }


}

@media(max-width:1600.8px) {

    .serviceswelcome__left h1 {
        font-size: 54px;
        margin-bottom: 20px;
    }

    .serviceswelcome__left p {
        margin-bottom: 20px;
    }

    .servwelinfobox.vertlong {
        height: 500px;
    }

    .serviceswelcome__left p {
        max-width: 550px;
    }

    .servwelinfobox {
        height: 220px;
    }

    .servwelinfobox .descr,
    .servwelinfobox .horlongheader p {
        font-size: 18px;
        line-height: 160%;
    }

    .servwelinfobox.horlong {
        height: 263px;
    }

    .servappssect {
        padding: 120px 0 280px;
    }

    .servappbox {
        padding: 40px 50px 20px;
        height: auto;
        min-height: 530px;
    }

    .servappbox .appinfowrap .descrwrap {
        padding-top: 0;
        padding-left: 40px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox .descrbox__title {
        font-size: 28px;
    }

    .vievallcases {
        padding: 10px 30px;
        font-size: 42px;
    }

    .servappbox.vertical {
        height: 847px;
    }

    .servappbox.vertical {
        padding: 40px 60px;
    }

    .shareidea__form .inputfield {
        margin-bottom: 30px;
    }

    .shareidea__wrap {
        padding: 60px 80px;
    }

    .shareidea__wrap .shareideapic1 {
        width: 180px;
    }

    .shareidea__wrap .shareideapic2 {
        width: 170px;
    }

    .shareidea__wrap .shareideapic4 {
        right: 60px;
        height: calc(100% + 100px);
    }

    .shareidea__wrap .shareideapic3 {
        width: 200px;
        left: 52%;
    }

    .service-testimonials.ns h3 {
        font-size: 48px;
    }

    .testimonialslideblock>p {
        font-size: 18px;
    }

    .testimonialslideblock {
        padding: 80px 100px 40px;
    }

    .qtop {
        width: 60px;
        top: 25px;
        left: 20px;
    }

    .qbot {
        width: 60px;
        bottom: 25px;
        right: 20px;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__user img {
        max-width: 60px;
        flex: 0 0 60px;
        height: 60px;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__user .testimonialslideblock__userdescr {
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
    }

    .testimonialslideblock__bottsect .testimonialslideblock__user .testimonialslideblock__userdescr p,
    .testimonialslideblock__bottsect .testimonialslideblock__rating span {
        font-size: 18px;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__rating .stars img {
        width: 20px;
    }

    .testimonialslideblock>p {
        margin-bottom: 30px;
    }

    .wwd__tabs .wwd__tablinks ol li {
        font-size: 21px;
        margin-bottom: 25px;
    }

    .wwd__tabs .wwd__tabcontents {
        padding-left: 120px;
    }

    .wwd__tabs .wwd__tabcontents img {
        max-height: 70px;
        margin-bottom: 15px;
    }

    .wwd__tabs .wwd__tabcontents .title {
        font-size: 26px;
    }

    .wwd__tabs .wwd__tabcontents .descr {
        font-size: 18px;
    }

    .servtitle,
    .service-workin.ns h2 {
        font-size: 48px;
        margin-bottom: 60px;
    }

    .rdytobecome h3 {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .rdytobecome {
        padding: 100px 0;

        .rdytobecome__link {
            font-size: 24px;
        }
    }



    .servappssect h2 {
        font-size: 48px;
        margin-bottom: 60px;
    }

    .servwelinfobox .title,
    .servwelinfobox .horlongheader span {
        font-size: 54px;
    }

    .serviceswelcome,
    .hupd-clientfutured.services {
        padding: 80px 0;
    }

    .serviceswelcome__left p {
        font-size: 16px;
    }

}

// mc
@media(max-width:1440.8px) and (min-width:991px) {
    .mcwrap {
        .serviceswelcome__left h1 {
            font-size: 48px;
        }

        .servwelinfobox .horlongheader span,
        .servwelinfobox .title {
            font-size: 42px;
        }

        .servwelinfobox .descr,
        .servwelinfobox .horlongheader p {
            font-size: 16px;
            line-height: 140%;
        }

        .servwelinfobox {
            height: 180px;
        }

        .servwelinfobox.horlong {
            height: 220px;
            padding: 15px 25px;
        }

        .servwelinfobox.vertlong {
            height: 420px;
        }

        .clientfutured__imgs .slick-slide {
            height: 50px;
        }


        .hupd-clientfutured.services .clientfutured__imgs .slick-slide {
            margin: 0 40px;
        }

        .hupd-clientfutured.services {
            padding: 60px 0;
        }

        .hupd-clientfutured.services .hupd-clientfutured__left p {
            font-size: 28px;
        }

        .hupd-clientfutured.services .hupd-clientfutured__left {
            max-width: 320px;
            flex: 0 0 320px;
        }

        .hupd-clientfutured.services .hupd-clientfutured__right {
            max-width: calc(100% - 320px);
            flex: 0 0 calc(100% - 320px);
        }

        .servappssect {
            padding: 100px 0 200px;
        }

        .servappbox {
            padding: 30px 30px 20px;
            min-height: 420px;

            .appinfowrap {
                align-items: center;
            }

            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .appinfowrap .descrwrap .descrbox .descrbox__title {
                font-size: 21px;
            }

            .appinfowrap .descrwrap .descrbox {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

        .vievallcases {
            font-size: 28px;
            height: 140px;
        }

        .servappbox.vertical {
            height: 700px;
        }

        .servappbox .appinfowrap .descrwrap .descrbox p {
            font-size: 14px;
        }

        .shareidea__wrap {
            padding: 40px 50px;
        }

        .shareidea__wrap .shareideapic2 {
            width: 130px;
        }

        .shareidea__wrap .shareideapic3 {
            width: 160px;
        }

        .shareidea__wrap .shareideapic1 {
            width: 140px;
            left: -60px;
            top: -80px;
        }

        .shareidea__wrap .shareideapic4 {
            height: calc(100% + 60px);
        }

        .shareidea {
            padding-bottom: 100px;
        }

        .service-testimonials .servtestim__header {
            margin-bottom: 60px;
        }

        .testimonialslideblock>p {
            font-size: 16px;
        }

        .testimonialslideblock {
            padding: 60px 80px 30px;
        }

        .qtop,
        .qbot {
            width: 45px;
        }

        .testimonialslideblock>p {
            min-height: 128px;
            margin-bottom: 40px;
        }

        .testimonialslideblock__bottsect .testimonialslideblock__user .testimonialslideblock__userdescr p {
            font-size: 16px;
        }

        .servtitle {
            margin-bottom: 40px;
        }

        .wwd__tabs .wwd__tablinks ol li {
            font-size: 18px;
        }


        .wwd__tabs {
            padding: 60px 80px;
        }

        .wwd__tabs .wwd__tabcontents .descr {
            font-size: 16px;
        }

        .wwd__tabs .wwd__tabcontents .title {
            font-size: 21px;
            margin-bottom: 20px;
        }

        .wwd__tabs .wwd__tabcontents img {
            max-height: 50px;
            margin-bottom: 10px;
        }

        .techrow .techrow__line .title {
            font-size: 21px;
            font-weight: 600;
        }

        .techrow {
            height: 60px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .service-workin.abus.newmain {
            padding-top: 100px;
        }

        .rdytobecome {
            margin-bottom: 100px;
        }

        .service-faq {
            padding: 80px 0;
        }












        .service-workin.ns h2 {
            margin-bottom: 40px;
        }

        .servappssect h2,
        .service-testimonials.ns h3,
        .servtitle,
        .service-workin.ns h2,
        .rdytobecome h3,
        .service-faq h2 {
            font-size: 42px;
        }

        .serviceswelcome {
            padding: 70px 0;
        }

    }

}



@media(max-width:1400.8px) {

    .slinfwrap .slinf,
    .slinfwrap .srinf {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .servwelinfobox.vertlong {
        height: 240px;
        padding: 20px;
        margin-bottom: 16px;
    }

    .servwelinfobox.vertlong img {
        max-width: 90px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .servwelinfobox {
        padding: 20px;
    }

    .servwelinfobox {
        height: 180px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__left p {
        font-size: 28px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__left {
        max-width: 350px;
        flex: 0 0 350px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__right {
        max-width: calc(100% - 350px);
        flex: 0 0 calc(100% - 350px);
    }

    .hupd-clientfutured.services .clientfutured__imgs .slick-slide img {
        max-height: 70px;
    }

    .hupd-clientfutured.services .clientfutured__imgs .slick-slide {
        margin: 0 50px;
    }

    .vievallcases img {
        max-width: 60px;
        flex: 0 0 60px;
    }

    .vievallcases span {
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
    }

    .vievallcases {
        font-size: 32px;
    }

    .servappbox.vertical {
        padding: 40px 20px;
    }

    .shareidea__form {
        max-width: 500px;
    }

    .shareidea__wrap .shareideapic4 {
        right: 40px;
    }


    // MC














}



// mc
@media(max-width:1400.8px) and (min-width:991px) {
    .mcwrap {

        .servwelinfobox.vertlong {
            height: 190px;
            padding: 15px;
        }

        .servwelinfobox {
            height: 120px;
        }

        .servwelinfobox.vertlong img {
            max-width: 80px;
            margin-bottom: 0;
        }

        .hupd-clientfutured.services .clientfutured__imgs .slick-slide img {
            max-height: 50px;
        }









        .servwelinfobox .title {
            font-size: 38px;
        }

    }
}
// mc
@media(max-width:1300.8px) and (min-width:991px) {
    .mcwrap .servappbox .appinfowrap .descrwrap .descrbox p {
        font-size: 13px;
    }

    .mcwrap .servappbox .appinfowrap .descrwrap .descrbox .descrbox__title {
        font-size: 18px;
    }

    .mcwrap .servappbox .appinfowrap .descrwrap .descrbox {
        margin-bottom: 10px;
    }

    .shareidea__form .title {
        font-size: 28px;
        margin-bottom: 30px;
    }


}












// @media(max-width:1300.8px) {

//     .servappssect .servappssect__leftcol,
//     .servappssect .servappssect__rightcol {
//         max-width: 100%;
//         flex: 0 0 100%;
//     }

//     .servappbox .appinfowrap .imgwrap,
//     .servappbox .appinfowrap .descrwrap {
//         max-width: 100%;
//         flex: 0 0 100%;
//     }

//     .servappbox .appinfowrap .descrwrap {
//         padding-left: 0;
//         padding-top: 25px;
//     }

//     .descrwrap {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;

//         .descrbox {
//             max-width: 33.333%;
//             flex: 0 0 33.333%;
//         }
//     }

//     .servappbox {
//         min-height: initial;
//     }

//     .servappbox .appinfowrap .imgwrap img {
//         max-height: 500px;
//         width: auto;
//         max-width: 100%;
//     }

//     .servappbox.vertical {
//         height: auto;
//     }

//     .servappbox .title,
//     .servappbox .appinfowrap .imgwrap {
//         text-align: center;
//     }

//     .servappbox.vertical .appinfowrap .title {
//         max-width: 100%;
//         flex: 0 0 100%;
//         width: 100%;
//     }

//     .vievallcases {
//         height: 160px;
//     }

//     .vievallcases {
//         font-size: 48px;
//         padding: 10px 50px;

//         span {
//             text-align: left;
//         }
//     }

//     .shareidea__wrap .shareideapic4 {
//         height: 100%;
//         right: 0;
//     }

//     .shareidea__wrap .shareideapic3 {
//         width: 160px;
//     }

//     .shareidea__wrap .shareideapic2 {
//         width: 130px;
//     }

//     .shareidea__wrap .shareideapic1 {
//         width: 150px;
//         top: -70px;
//     }

//     .servappssect .servappssect__rightcol {
//         margin-top: 16px;
//     }

//     .testimonialslider-new .slick-next.slick-arrow {
//         right: 130px;
//     }

//     .testimonialslider-new .slick-prev.slick-arrow {
//         left: 130px;
//     }

//     .wwd__tabs .wwd__tabcontents {
//         padding-left: 50px;
//     }

//     .wwd__tabs {
//         padding: 50px 30px 50px 70px;
//     }

//     .techrow .techrow__percent {
//         padding-right: 20px;
//     }

//     .servappbox .appinfowrap .descrwrap .descrbox {
//         padding-right: 15px;
//     }

// }

@media(max-width:1199.8px) {
    // .serviceswelcome .service__col-6 {
    //     max-width: 100%;
    //     flex: 0 0 100%;
    // }

    .serviceswelcome__left {
        margin-bottom: 20px;
    }

    .vievallcases {
        font-size: 38px;
    }

    .servappssect {
        padding: 100px 0 200px;
    }

    .shareidea__wrap .shareideapic4 {
        position: relative;
    }

    .shareidea__form {
        max-width: 100%;
    }

    .shareidea__wrap .shareideapic4 {
        width: 400px;
        margin: 0 auto;
        display: block;
    }

    .shareidea__wrap {
        padding-bottom: 0;
    }

    .shareidea__wrap .shareideapic3 {
        left: -50px;
        bottom: 40%;
    }

    .shareidea__wrap .shareideapic2 {
        bottom: 0;
        top: initial;
    }

    .shareidea {
        padding-bottom: 70px;
    }

    .rdytobecome {
        padding: 70px 0;
    }

    .rdytobecome h3 {
        font-size: 42px;

        br {
            display: none;
        }
    }








}

// mc
@media(max-width:1199.8px) and (min-width:991px) {
    .mcwrap {

        .serviceswelcome__left h1 {
            font-size: 42px;
        }

        .servappssect .servappssect__leftcol,
        .servappssect .servappssect__rightcol {
            max-width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        }

        .servappbox .appinfowrap .descrwrap .descrbox p {
            font-size: 16px;
        }

        .servappbox .appinfowrap .descrwrap .descrbox .descrbox__title {
            font-size: 21px;
        }

        .servappbox .appinfowrap .descrwrap .descrbox {
            margin-bottom: 20px;
        }

        .servappbox .appinfowrap .imgwrap img {
            max-height: 500px;
            width: auto;
            max-width: 100%;
        }

        .servappbox.vertical .title {
            text-align: center;
            display: block;
            width: 100%;
        }

        .servappbox.vertical .appinfowrap .descrwrap .descrbox .descrbox__title {
            font-size: 28px;
        }

        .servappbox.vertical .appinfowrap .descrwrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .descrbox {
                max-width: 33.333%;
                flex: 0 0 33.333%;
            }
        }

        .servappssect .servappssect__rightcol {
            margin-top: 16px;
        }

        .servappbox.vertical {
            height: auto;
        }

        .vievallcases {
            font-size: 28px;
            height: 100px;

            span {
                text-align: left;
            }
        }

        .shareidea__wrap {
            padding-bottom: 0;
        }

        .testimonialslider-new .slick-next.slick-arrow {
            right: 130px;
        }

        .testimonialslider-new .slick-prev.slick-arrow {
            left: 130px;
        }

        .wwd__tabs .wwd__tabcontents:after {
            display: none;
        }

        .wwd__tabs .wwd__tabcontents {
            padding-left: 40px;
        }







    }

}

@media(max-width:991.8px) {
    .serviceswelcome .service__col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

   
    .servappssect .servappssect__leftcol,
    .servappssect .servappssect__rightcol {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .servappbox .appinfowrap .imgwrap,
    .servappbox .appinfowrap .descrwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .servappbox .appinfowrap .descrwrap {
        padding-left: 0;
        padding-top: 25px;
    }

    .descrwrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .descrbox {
            max-width: 33.333%;
            flex: 0 0 33.333%;
        }
    }

    .servappbox {
        min-height: initial;
    }

    .servappbox .appinfowrap .imgwrap img {
        max-height: 500px;
        width: auto;
        max-width: 100%;
    }

    .servappbox.vertical {
        height: auto;
    }

    .servappbox .title,
    .servappbox .appinfowrap .imgwrap {
        text-align: center;
    }

    .servappbox.vertical .appinfowrap .title {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
    }

    .vievallcases {
        height: 160px;
    }

    .vievallcases {
        // font-size: 48px;
        // padding: 10px 50px;
        height: 120px;
        font-size: 30px;

        span {
            text-align: left;
        }
    }

    .shareidea__wrap .shareideapic4 {
        height: 100%;
        right: 0;
    }

    .shareidea__wrap .shareideapic3 {
        width: 160px;
    }

    .shareidea__wrap .shareideapic2 {
        width: 130px;
    }

    .shareidea__wrap .shareideapic1 {
        width: 150px;
        top: -70px;
    }

    .servappssect .servappssect__rightcol {
        margin-top: 16px;
    }

    .testimonialslider-new .slick-next.slick-arrow {
        right: 130px;
    }

    .testimonialslider-new .slick-prev.slick-arrow {
        left: 130px;
    }

    .wwd__tabs .wwd__tabcontents {
        padding-left: 50px;
    }

    .wwd__tabs {
        padding: 50px 30px 50px 70px;
    }

    .techrow .techrow__percent {
        padding-right: 20px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox {
        padding-right: 15px;
    }




















}















@media(max-width:991.8px) {

    .serviceswelcome__left {
        text-align: center;
        margin-bottom: 30px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__left {
        margin-bottom: 0;
    }

    .hupd-clientfutured.services {
        padding: 40px 0;
    }

    .serviceswelcome__left h1 {
        font-size: 48px;
    }

    .descrwrap .descrbox {
        max-width: 50%;
        flex: 0 0 50%;
        text-align: center;
        padding: 0 20px;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__user,
    .testimonialslideblock__bottsect .testimonialslideblock__rating {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__rating {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .testimonialslider-new .slick-slide {
        padding: 0 10px;
    }

    .testimonialslider-new .slick-next.slick-arrow,
    .testimonialslider-new .slick-prev.slick-arrow {
        display: none !important;
    }

    .testimonialslideblock>p {
        -webkit-line-clamp: initial;
    }

    .testimonialslideblock>p {
        min-height: initial;
    }

    .wwd__tabs {
        flex-wrap: wrap;
    }

    .wwd__tabs .wwd__tablinks,
    .wwd__tabs .wwd__tabcontents {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .wwd__tabs .wwd__tabcontents {
        padding-left: 0;
    }

    .wwd__tabs {
        padding: 50px;
    }

    .wwd__tabs .wwd__tabcontents:after {
        background: url("../images/services/lineel2.png") no-repeat center/100%;
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    .wwd__tabs .wwd__tablinks ol {
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .wwd__tabs .wwd__tabcontents {
        padding-top: 30px;
    }

    .techrow.v2 .techrow__percent {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .techrow.v2 .techrow__line {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .techrow.v3 .techrow__percent {
        max-width: 30%;
        flex: 0 0 30%;
    }

    .techrow.v3 .techrow__line {
        max-width: 70%;
        flex: 0 0 70%;
    }

    .servappbox .appinfowrap .descrwrap .descrbox {
        padding-right: 20px;
    }


    .servappssect h2,
    .service-testimonials.ns h3,
    .service-workin.ns h2,
    .servtitle {
        font-size: 38px;
    }
}

@media(max-width:575.8px) {

    .servappbox .appinfowrap .descrwrap .descrbox {
        padding-right: 5px;
    }

    .serviceswelcome {
        padding: 40px 0 100px 0;
    }

    .serviceswelcome__left a {
        padding: 19px 20px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .serviceswelcome__left {
        margin-bottom: 40px;
    }

    .slinfwrap.mobshow {
        display: flex;

        .col-6 {
            display: block;
        }
    }

    .slinfwrap {
        .col-6 {
            display: none;
        }
    }

    .slinfwrap {

        .slinf {
            &:nth-child(1) {
                max-width: 57%;
                flex: 0 0 57%;
            }
        }

        .slinfwrap.mobshow {
            max-width: 43%;
            flex: 0 0 43%;
            padding-left: 8px;
            padding-right: 8px;

            .col-6 {
                max-width: 100%;
                flex: 0 0 100%;
                padding-left: 0;
                padding-right: 0;

                &:nth-child(1) {
                    margin-bottom: 16px;
                }
            }
        }


    }

    .servwelinfobox.vertlong {
        padding: 24px;
        height: 288px;
    }

    .servwelinfobox.vertlong img {
        max-width: 100%;
    }

    .servwelinfobox .title {
        font-size: 40px;
        line-height: 110%;
    }

    .servwelinfobox .descr {
        line-height: 200%;
    }

    .slinfwrap .slinfwrap.mobshow {
        margin: 0;

        .servwelinfobox {
            padding: 16px;
            height: 100%;
        }

        .servwelinfobox .title {
            font-size: 32px;
            line-height: 140%;
        }

        .servwelinfobox .descr {
            font-size: 18px;
            line-height: 130%;
        }

    }

    .servwelinfobox {
        height: 123px;
    }

    .servwelinfobox.vertlong {
        margin-bottom: 0;
    }

    .servwelinfobox .horlongheader span {
        font-size: 40px;
        line-height: 110%;
    }

    .servwelinfobox .horlongheader span {
        max-width: 76px;
        flex: 0 0 76px;
    }

    .servwelinfobox .horlongheader p {
        max-width: calc(100% - 76px);
        flex: 0 0 calc(100% - 76px);
    }

    .servwelinfobox.horlong {
        height: 213px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__left p {
        font-size: 18px;
        color: #C9FA3D;
        margin: 0;
    }

    .hupd-clientfutured.services .hupd-clientfutured__left {
        max-width: 190px;
        flex: 0 0 190px;
    }

    .hupd-clientfutured.services .hupd-clientfutured__right {
        max-width: calc(100% - 190px);
        flex: 0 0 calc(100% - 190px);
    }

    .hupd-clientfutured.services .clientfutured__imgs .slick-slide img {
        max-height: 42px;
    }

    .hupd-clientfutured.services {
        padding: 22px 0;
    }

    .servappssect {
        padding: 70px 0 94px;
    }

    .servappbox,
    .servappbox.vertical {
        padding: 24px;
    }

    .servappbox .title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .servappbox .appinfowrap .descrwrap {
        padding-top: 30px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox .descrbox__title,
    .servappbox.vertical .appinfowrap .descrwrap .descrbox .descrbox__title {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 4px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox p,
    .servappbox.vertical .appinfowrap .descrwrap .descrbox p {
        line-height: 130%;
        font-size: 14px;
    }

    .descrwrap .descrbox {
        padding: 0 5px;
    }

    .servappbox .appinfowrap .descrwrap .descrbox:nth-child(3) {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .servappssect .servappssect__rightcol {
        margin-top: 32px;
    }

    .servappssect .servappssect__leftcol a {
        margin-bottom: 32px;
    }

    .servappbox.vertical .appinfowrap {
        .title {
            order: 1;
        }

        .imgwrap {
            order: 2;
        }

        .descrwrap {
            order: 3;
        }
    }

    .vievallcases {
        font-size: 24px;
        height: auto;
        min-height: 116px;
        padding: 10px 60px;
    }

    .vievallcases img {
        max-width: 48px;
        flex: 0 0 48px;
    }

    .vievallcases span {
        max-width: calc(100% - 48px);
        flex: 0 0 calc(100% - 48px);
        text-align: right;
    }

    .shareidea__wrap {
        padding: 24px 24px 0 24px;
    }

    .shareidea__form .title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .shareidea__wrap .shareideapic1 {
        width: 90px;
        top: -40px;
        left: -25px;
    }

    .shareidea__form .submform {
        width: 100%;
        max-width: 100%;
    }

    .shareidea__wrap .shareideapic4 {
        max-width: 290px;
    }

    .shareidea__wrap .shareideapic3 {
        width: 120px;
        left: -55px;
        bottom: 30%;
    }

    .shareidea {
        overflow: hidden;
        padding-top: 30px;
    }


    .shareidea__wrap .shareideapic2 {
        width: 100px;
        transform: rotate(-40deg);
        right: -10px;
        bottom: 10px;
    }

    .service-testimonials .servtestim__header .servtestim__header-right a {
        display: none;
    }

    .testimonialslideblock {
        padding: 16px 16px 24px;
    }

    .qtop,
    .qbot {
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        position: relative;
    }

    .qtop {
        margin-bottom: 16px;
    }

    .qbot {
        margin-top: 16px;
    }

    .testimonialslideblock>p {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        margin: 0;
    }

    .testimonialslideblock__bottsect {
        margin-top: 40px;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__rating {
        justify-content: center;
    }

    .service-testimonials.ns .servtestim__header-right.mob {
        padding: 0 15px;

        a {
            margin-top: 48px;
        }

    }

    .wwd {
        padding: 80px 0 64px;

        .section-subtitle {
            text-align: left;
        }

        .servtitle {
            text-align: left;
            margin-bottom: 48px;
        }
    }

    .wwd__tabs {
        padding: 24px 16px;
    }

    .wwd__tabs .wwd__tablinks ol li {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .wwd__tabcontents {
        text-align: center;
    }

    .wwd__tabs .wwd__tabcontents img {
        max-height: 64px;
    }

    .wwd__tabs .wwd__tabcontents .title {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .wwd__tabs .wwd__tabcontents .descr {
        font-size: 16px;
        line-height: 130%;
    }

    .servtech {
        padding: 40px 0 44px;

        .section-subtitle,
        .servtitle {
            text-align: left;
        }
    }

    .servtitle {
        margin-bottom: 48px;
    }

    .techrow {
        height: 64px;
        margin-bottom: 24px;
    }

    .techrow .techrow__line {
        padding: 5px 16px;

        .title {
            font-size: 16px;
        }
    }

    .techrow .techrow__percent .pec {
        font-size: 18px;
        max-width: 50px;
        flex: 0 0 50px;
    }

    .techrow.v3 .techrow__percent {
        padding-right: 8px;
    }

    .techrow .techrow__percent .line {
        max-width: calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
    }

    .rdytobecome {
        padding: 120px 0;

        h3 {
            font-size: 40px;
            max-width: 295px;
            margin-bottom: 60px;

            span {
                color: #C9FA3D;
            }
        }
    }

    .rdytobecome .rdytobecome__link {
        font-size: 18px;

        img {
            width: 32px;
        }
    }














    .servappssect h2 {
        margin-bottom: 48px;
    }

    .servappssect {
        .section-subtitle {
            text-align: left;
        }

        h2 {
            text-align: left;

            br {
                display: none;
            }
        }
    }

    .servappssect h2,
    .service-testimonials.ns h3,
    .service-workin.ns h2,
    .servtitle {
        font-size: 24px;
    }

    .serviceswelcome__left p {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 24px;
    }

    .serviceswelcome__left h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .servwelinfobox .horlongheader p {
        line-height: 130%;
    }

    .testimonialslideblock__bottsect .testimonialslideblock__user .testimonialslideblock__userdescr p {
        font-size: 16px;
    }
}